body{
    margin: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}
/* botao configuração */
button{
    border-radius:6px;
    border:none; 
    padding:20px;
    width:200px;
    transition: all 0.4s;
    width:11em;
}

.logo{
    width:175px;
    height:50px;  
}
.botaoCadastrarVoltar{
    margin-top:20px;
    display: flex;
    justify-content: space-between;
}
.btnVoltar span:after{
    content:'<';
    opacity: 0;
    position: absolute; 
    top:0;
    right:-20px;
    transition:0.4s;
}  
button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
    font-family: 'sans-serif';
    font-size: 1.6em;
}
button:hover span{
    padding-right: 25px;
}

button span:after{
    content:'>>';
    opacity: 0;
    position: absolute; 
    top:0;
    right:-20px;
    transition:0.4s;
}
button:hover span:after{
    opacity:1;
    right:0;
}

/* fim botão configuração */
/* section configuração */
section{
    padding: 20px;
    color: white;
    width: 100%;
    height: 100em;
    overflow: auto;
    position: absolute;
    margin-top: 4.9em;
    top: 0;
    transform: translateX(100%);
    transition: 0.5s;
    /* z-index: 100; */
}

section.ativa{
    transform: translateX(0);
}

section:nth-child(3){
    background:orangered; 
}
section:nth-child(4){
    background: rgb(16, 17, 17,0.9);
    display:flex;
    justify-content:center;
}
section:nth-child(5){
    background:rgb(219, 12, 12);
}
section:nth-child(6){
    background:rgb(219, 12, 12);
}
section:nth-child(7){
    background:rgb(219, 12, 12);
}
section:nth-child(8){
    background: rgb(16, 17, 17,0.9);
    display:flex;
    justify-content:center;
}
/* fim section configuração */
/* header */
header{
    display: flex;   
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 70px;
}
.login{
    border: 2px solid orangered
}
.logindiv{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:5em;
}
ul{
    display: flex;
    justify-content: space-between;
    flex-direction:column; 
    height:50vh;
}
li{
    cursor: pointer;
    width:60px;
    list-style-type: none;
}   
/* fim header */
/* inicio opcoes e sidebar  */
#span{
    flex-basis:6em;
    align-self: center;
    display:flex;
    align-items:center;
    justify-content: center;
    color:white;
    width:100px;
    height: 45px;
    background-color: rgb(16, 17, 17);
    cursor: pointer;
    transition:20s;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}
.sidebar{
    display: none;
    position:absolute;
    flex-direction: column;
    color:white;
    font-size:20px;
    height:100vh;
    width:30vh;
    margin-top:0.4em;
    background-color:rgb(31, 33, 34);
    /* transform:translateY(-200%);
    transition:1s;    */
    overflow:auto;
    position:fixed;
    z-index: 2;
    justify-content: space-between;
    position:fixed;
}
/* fim opcoes e sidebar  */
/* configurações de Cadastro */
.cadastro{
    border:2px solid orangered;
    background-color: rgb(16, 17, 17);
    width: 600px;
    height:770px;
    display:flex;
    justify-content:center;
}
.cadastroFOR{
    height:760px;
}
.cadastros-insert{
    display:flex;
    flex-direction: column;   
    width:80%;
    height:100%;
    /* border: 2px solid yellow; */
}
/* fim de configurações de cadastro */

/* iput configurações */

input{
    height:25px;
    border:none;
    border-radius:6px;
}


.btnVoltar{
    font-size: 14pt;
    /* border:2px solid black; */
    height: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left:170px;
    top:3px;
    cursor: pointer;
    font-weight: bold; 
    background-color: rgba(235, 74, 15, 0.651);
    width:120px;
    border-radius:5px;
} 

h2{
    /* border:2px solid green; */
    display: flex;
    align-items: center;
}

/* @media(max-width:1024px) and(min-width:720px){
    
} */



/* initial page divPimagem divPtexto  divPimagem*/
.initial01{
    display:flex;
    width:55%;
    padding-top:5%;
    border:2px solid yellow;
}

.init2{
    padding-left:20%;
}
.initialpage1{
    /* configuração das imagens da section */
    width:300px;
    height:300px;
    border-radius: 0.5em;
    border:none;
}

.divPimagem{
}   
.colorBoxText{
    background-color:rgb(16, 17, 17,0.1);
    border-radius: 2em;
    padding:2em;
    margin-left:-2em;
    
}
.divPtexto{
    font-family: sans-serif;
    font-size:1.1em;
    align-self: center;
    padding:2em;
    text-align: justify;
    width:auto;
}
/* fim initial page */


/* banner */
.forBanner{
    background-color:white;
    width:95%;
    border-bottom-left-radius: 2em;
    border-bottom-left-radius: 2em;
    border-top-right-radius: 2em;
    display:flex;
    flex-direction: column;
}
/* banner */

/* entrar */
.btnEntrar{
    width:3em;
    height:3em;
}
#loginHeader{
    flex-basis:6em;
    align-self: center;
    display:flex;
    align-items:center;
    justify-content: center;
    color:white;
    width:100px;
    height: 45px;
    background-color: rgb(16, 17, 17);
    cursor: pointer;
    transition:20s;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}


.btnvoltar02{
    position: relative;
    left: 6em;
}

.paratexto{
    font-size: 16pt;
    line-height: 1.6em;
}

a{
    text-decoration: none;
    color:white;
}

.entrar{
    display: flex;
    justify-content: center;
}